docs/n8n-audit-2026-03-01/-AC-7-8-9-Mentions-TESTING-.json
{
  "name": "[AC] (7) (8) (9) Mentions [TESTING]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "a119cdf6-51f9-457f-9446-475b42872431",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Mentions posts\n",
        "height": 336,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -96
      ],
      "id": "5e1e586d-6aa5-4286-a65b-e12eb14633fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Shopify check",
        "height": 240,
        "width": 1616,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -400
      ],
      "id": "a394aa9b-635a-4ff3-98ee-f727209aa9a6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Automated Post-Delivery Follow-Up: 24 hours after a confirmed delivery, the system sends a pre-scripted follow-up email (e.g., \"Hope you love the product! Can't wait to see what you think.\"). [To finalize by 11-06-25]\n",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -416
      ],
      "id": "a8caa501-e68a-4ab4-82f3-b9609e02d530",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "fulfillments/update"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -336
      ],
      "id": "0060c9a7-6808-4ba7-89a3-22ea2bf737c8",
      "name": "Shopify Trigger",
      "webhookId": "fd02c8c4-05d7-4540-b341-b3850f73090e",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "mpHF1jAD9gmWFsTA",
          "name": "Shopify Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Content Tracking (via Refunnel): The system connects to Refunnel to monitor the influencer's handle for new posts that tag the brand. It pulls the link for the content itself and the date for when it was posted. [Still to do is multiple posts with their relevant links being pulled in separate columns]",
        "height": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -112
      ],
      "id": "db8f1a17-d1cf-4c34-a2bf-4a8638c51f59",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Automated Non-Post Follow Up: If the influencer hasn't posted another 2 days after the first message at that point triggers another message, which then follows up with them again. \n",
        "height": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        688
      ],
      "id": "d912fc7f-0278-4faa-b524-577f190baf7b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b089ee75-06af-4055-a4c7-1e3d66a08aa4",
              "leftValue": "={{ $json.execution.mode }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        -240
      ],
      "id": "cacfd7a4-f915-47b9-8c35-5f0551b2b5ab",
      "name": "PROD?"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Error Workflow -  *{{ $json.workflow.name }}* - {{ $json.workflow.id }}\nId Execution: {{ $json.execution.id }}\nError: {{ $json.execution.error.message }}\nStack: {{ $json.execution.error.stack }}\nUrl: {{ $json.execution.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1008,
        -256
      ],
      "id": "e1ee56c3-62b5-4760-b147-b72e66de3dc6",
      "name": "Discord",
      "webhookId": "b90458f5-90b7-4d88-9d32-8bdbe5121b04",
      "credentials": {
        "discordWebhookApi": {
          "id": "i0AdU91u5MiaI6jy",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        -240
      ],
      "id": "7b7a4a6d-ada8-4e25-9719-527fe012b698",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=SYSTEM PROMPT\n\nYou are writing a concise, warm, creator-friendly email reply in Kalm’s brand voice.\nThe goal is to sound genuinely excited for the creator to try the product and share their experience, not to re-explain the brand.\n\nAssume the creator already knows what Kalm is unless they explicitly ask.\nPrioritize encouragement, appreciation, and anticipation (e.g., “Hope you love it,” “Excited for you to try it,” “Can’t wait to hear what you think”).\n\nCONTEXT (for the model only, NOT to be repeated unless asked)\n\nKalm: a sleep & recovery brand focused on simple, science-informed tools.\n\nMouth Tape: a soft, skin-friendly strip designed to encourage nasal breathing during sleep.\n\nProduct page: https://clubkalm.com/collections/all/products/kalm-mouth-tape-refill\n\nTASK\n\nDirectly respond to the creator’s message in a friendly, enthusiastic, human tone.\n\nKeep the reply short and positive, with emphasis on trying the product and sharing thoughts.\n\nOnly explain Kalm or the product if the creator explicitly asks what it is or what it does.\n\nAvoid medical claims; keep benefits general and experiential.\n\nIf the product is mentioned, include the product page URL exactly once.\n\n\n4–6 sentences total.\nPlain text.\nNo greeting line.\nMinimal but warm.\nDo not use em dashes (—) or en dashes (–) anywhere in the response.\nUse only standard punctuation (periods, commas).\nNever use — or – characters. Replace any dash-like punctuation with a period or comma.\nEnd with excitement, not sales pressure.\n\nFinish with: “— Team Kalm”.\n\nFINAL OUTPUT\n\nEmail body only; no subject; no greeting; one paragraph; no extra commentary."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        608,
        -352
      ],
      "id": "fdec0ae9-7055-47c0-9c01-8b92ee463f06",
      "name": "Create Email",
      "credentials": {
        "openAiApi": {
          "id": "PsZQ0hIV30oqaFAI",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Search records').item.json[\"Thread ID\"] }}",
        "messageId": "={{ $('Search records').item.json[\"Message ID\"] }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        -352
      ],
      "id": "9b3a5eb4-9a8d-4707-8977-e6c5268a0baf",
      "name": "Reply to a message",
      "webhookId": "dfcd90ce-a93c-4cfa-a7d6-3ae8f82670bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "vSqoV4eP6KtwrX8C",
          "name": "Club Kalm Creators"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6d35a45-2b99-4b25-8ac2-8e00f1dc8dac",
              "leftValue": "={{ $json.shipment_status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -336
      ],
      "id": "612509ec-95f4-43a9-82b5-2f84ab1799dd",
      "name": "Status Delivered "
    },
    {
      "parameters": {
        "content": "## Reminder POST & HISTORY\n",
        "height": 336,
        "width": 1968,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        688
      ],
      "id": "d0e594cc-16d8-47ce-bf3b-dee94eefc751",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        752
      ],
      "id": "403dee64-1e6e-42f1-8000-90d80026d090",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c732aaac-d41e-4b44-a173-9d3c1c4dbb6a",
              "leftValue": "={{ $json['Reminder Date Mentions'] }}",
              "rightValue": "={{ $now.minus(2, 'days').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        752
      ],
      "id": "c33ae991-a8a9-40a6-a931-850f1293422b",
      "name": "2 days "
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=SYSTEM PROMPT\nYou are writing a concise, warm, creator-friendly email reply in Kalm's brand voice.\nThe goal is to sound genuinely excited for the creator to try the product AND gently remind them to share their experience through content.\nAssume the creator already knows what Kalm is unless they explicitly ask.\nPrioritize encouragement, appreciation, and anticipation (e.g., \"Hope you love it,\" \"Excited for you to try it,\" \"Can't wait to see your post/story\").\n\nCONTEXT (for the model only, NOT to be repeated unless asked)\nKalm: a sleep & recovery brand focused on simple, science-informed tools.\nMouth Tape: a soft, skin-friendly strip designed to encourage nasal breathing during sleep.\n\nTASK\nDirectly respond to the creator's message in a friendly, enthusiastic, human tone.\nKeep the reply short and positive, with emphasis on trying the product and sharing their experience.\nIMPORTANT: Include a gentle reminder that they should post about the mouth tape (either as a feed post or mention it in a story). Frame this as excitement to see their content, not as a demand.\n\n\n5–7 sentences total.\nPlain text.\nNo greeting line.\nMinimal but warm.\nEnd with excitement about seeing their content.\nDo not use em dashes (—) or en dashes (–) anywhere in the response.\nUse only standard punctuation (periods, commas).\nNever use — or – characters. Replace any dash-like punctuation with a period or comma.\nFinish with: \"— Team Kalm\".\n\nFINAL OUTPUT\nEmail body only; no subject; no greeting; one paragraph; no extra commentary."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        848,
        768
      ],
      "id": "211351a0-7785-422e-8f8d-1135b85643c8",
      "name": "Create Email1",
      "credentials": {
        "openAiApi": {
          "id": "PsZQ0hIV30oqaFAI",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Replace Me').item.json[\"Thread ID\"] }}",
        "messageId": "={{ $('Replace Me').item.json[\"Message ID\"] }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        768
      ],
      "id": "0e448581-eb88-44af-82b7-b6e6396dc497",
      "name": "Reply to a message1",
      "webhookId": "dfcd90ce-a93c-4cfa-a7d6-3ae8f82670bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "vSqoV4eP6KtwrX8C",
          "name": "Club Kalm Creators"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mentions History",
        "height": 368,
        "width": 2032,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        272
      ],
      "id": "407b1583-829a-42be-a904-39e54e033f69",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ff311b69-564d-4f8d-bdb8-3286f5cdaa56",
              "leftValue": "={{ $json.query[\"hub.verify_token\"] }}",
              "rightValue": "test123",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1296,
        224
      ],
      "id": "487c7c3f-8a13-4222-bfb9-5463e93f044e",
      "name": "IF Verify Token"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    challenge: $input.first().json.query['hub.challenge']\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        224
      ],
      "id": "6507f028-8091-4ddd-96fd-4aa445adaa0a",
      "name": "Extract Challenge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -896,
        224
      ],
      "id": "cd835263-30ba-40c4-ac66-ec2aa72a1351",
      "name": "Respond Challenge"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Invalid token",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1104,
        432
      ],
      "id": "527bc40c-7a94-4a48-9f6d-1d63de17b286",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "path": "events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1504,
        224
      ],
      "id": "47189669-9133-4158-9ae7-d005d9dcbbd3",
      "name": "Webhook",
      "webhookId": "2a8e30dc-4375-458a-9fd0-9f00d09988ed"
    },
    {
      "parameters": {
        "jsCode": "// Mapear eventos de Instagram a formato Excel\nconst body = $input.first().json.body;\nlet mapped = {\n  timestamp: new Date().toISOString(),\n  event_type: '',\n  user_id: '',\n  username: '',\n  text: '',\n  comment_id: '',\n  media_id: '',\n  message_id: '',\n  parent_id: '',\n  media_type: '',\n  sender_id: '',\n  recipient_id: '',\n  business_id: '' // Agregado para filtrar\n};\n\n// Verificar que sea evento de Instagram\nif (body.object === 'instagram' && body.entry && body.entry.length > 0) {\n  const entry = body.entry[0];\n  \n  // Extraer business_id del entry\n  mapped.business_id = entry.id || '';\n  \n  // TIPO 1: Comments y Live Comments (estructura \"changes\")\n  if (entry.changes && entry.changes.length > 0) {\n    const change = entry.changes[0];\n    const field = change.field;\n    const value = change.value;\n    \n    if (field === 'comments') {\n      mapped.event_type = 'comment';\n      mapped.user_id = value.from?.id || '';\n      mapped.username = value.from?.username || '';\n      mapped.text = value.text || '';\n      mapped.comment_id = value.id || '';\n      mapped.parent_id = value.parent_id || '';\n      mapped.media_id = value.media?.id || '';\n      mapped.media_type = value.media?.media_product_type || '';\n      \n    } else if (field === 'live_comments') {\n      mapped.event_type = 'live_comment';\n      mapped.user_id = value.from?.id || '';\n      mapped.username = value.from?.username || '';\n      mapped.text = value.text || '';\n      mapped.comment_id = value.id || '';\n      mapped.media_id = value.media?.id || '';\n      mapped.media_type = 'LIVE';\n    }\n  }\n  \n  // TIPO 2: Story Mentions (estructura \"messaging\")\n  else if (entry.messaging && entry.messaging.length > 0) {\n    const messaging = entry.messaging[0];\n    \n    // Verificar si es story_mention\n    if (messaging.message?.attachments && messaging.message.attachments.length > 0) {\n      const attachment = messaging.message.attachments[0];\n      \n      if (attachment.type === 'story_mention') {\n        mapped.event_type = 'story_mention';\n        mapped.sender_id = messaging.sender?.id || '';\n        mapped.recipient_id = messaging.recipient?.id || '';\n        mapped.timestamp = new Date(messaging.timestamp).toISOString();\n        mapped.message_id = messaging.message?.mid || '';\n        mapped.text = 'Story mention';\n        mapped.media_type = 'STORY';\n        mapped.user_id = messaging.sender?.id || '';\n        \n        // URL de la story si está disponible\n        if (attachment.payload?.url) {\n          mapped.media_id = attachment.payload.url;\n        }\n      }\n    }\n  }\n}\n\nreturn [{ json: mapped }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        384
      ],
      "id": "a88112e9-8460-4bb8-82a6-79f721430350",
      "name": "Map by Event Type"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"event_type\": $json.event_type } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        464
      ],
      "id": "a9d23bc3-9a0d-403c-ad87-59d4e011ac78",
      "name": "Respond 200 OK"
    },
    {
      "parameters": {
        "content": "## verify token meta",
        "height": 384,
        "width": 1072,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1760,
        208
      ],
      "id": "71203efb-bc30-472a-920b-b75c09382bde",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "jsCode": "const IG_USER_ID = \"17841464586344140\";\nconst ACCESS_TOKEN = \"EAALtDCufaXkBQmx72pQyCOBZA4ZCMnZB4SGmZBut8lPlhT3Az9xyRxl0MbZAZC4fAIkeudMnlXbOzBNlG7uyMqfYuIQVvidXTZAqvmmqDuljGtWUynadlhkCA6w2qn9IKPTA6ABCNxI6X5J50YchZCZCSijq4StQj0D36zSziKO7hT7JZAe1oUgbgHe6kHt1WafAVQT6AoeFAc6TQyyesjkt8SvAZDZD\";\n\nconst DAYS_BACK = 30; // Cambia a los días que necesites\nconst FILTER_BY_DATE = true; // Pon false para traer todo\n\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - DAYS_BACK);\n\nlet allTags = [];\nlet nextUrl = `https://graph.facebook.com/v24.0/${IG_USER_ID}/tags?fields=id,username,timestamp,permalink&limit=50&access_token=${ACCESS_TOKEN}`;\nlet pageCount = 0;\nconst MAX_PAGES = 10;\n\nwhile (nextUrl && pageCount < MAX_PAGES) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: nextUrl,\n    json: true\n  });\n  \n  if (response.error) {\n    throw new Error(response.error.message);\n  }\n  \n  let stopPagination = false;\n  \n  for (const tag of response.data || []) {\n    // Solo filtrar si FILTER_BY_DATE es true\n    if (FILTER_BY_DATE) {\n      const tagDate = new Date(tag.timestamp);\n      if (tagDate < cutoffDate) {\n        stopPagination = true;\n        break;\n      }\n    }\n    \n    allTags.push({\n      id: tag.id,\n      username: tag.username || \"\",\n      timestamp: tag.timestamp,\n      permalink: tag.permalink\n    });\n  }\n  \n  pageCount++;\n  \n  if (stopPagination) {\n    break;\n  }\n  \n  nextUrl = response.paging?.next || null;\n}\n\nreturn [{\n  json: {\n    tags: allTags,\n    total_tags: allTags.length,\n    pages_fetched: pageCount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "name": "Get All IG Tags",
      "position": [
        192,
        0
      ],
      "id": "aa91eaa9-f3cf-4f8d-8dd9-e2d221a7667b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Tags del nodo anterior\nconst tagsData = $('Get All IG Tags').first().json.tags;\n\n// Usuarios del Google Sheets\nconst sheetUsers = $('Search influencer').all();\n\nconst results = [];\n\nfor (const row of sheetUsers) {\n  const username = (row.json.Username || \"\").toLowerCase().trim();\n  \n  // Filtrar tags de este usuario\n  const userTags = tagsData.filter(tag => tag.username === username);\n  \n  results.push({\n    json: {\n      username: row.json.Username,\n      email: row.json.Email,\n      tags_count: userTags.length,\n      last_tag_date: userTags.length > 0 ? userTags[0].timestamp : \"\",\n      permalinks: userTags.map(t => t.permalink).join(\"\\n\")\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "name": "Match & Count",
      "position": [
        384,
        0
      ],
      "id": "fcf24cce-91ad-48b0-a127-94ce672a6e37",
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "events",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        384
      ],
      "id": "27407cb0-1daa-4ef8-a957-7e98cf405376",
      "name": "Webhook Events",
      "webhookId": "da5063c8-764e-4a58-a28d-1f1a5852c86d"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n  {\n    \"headers\": {\n      \"host\": \"clubkalm.app.n8n.cloud\",\n      \"user-agent\": \"facebookexternalua\",\n      \"content-length\": \"753\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"cdn-loop\": \"cloudflare; loops=1; subreqs=1\",\n      \"cf-connecting-ip\": \"2a03:2880:13ff:3::\",\n      \"cf-ew-via\": \"15\",\n      \"cf-ipcountry\": \"US\",\n      \"cf-ray\": \"9bcf6a7aa04a70a3-DFW\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-worker\": \"n8n.cloud\",\n      \"content-type\": \"application/json\",\n      \"facebook-api-version\": \"v24.0\",\n      \"x-forwarded-for\": \"2a03:2880:13ff:3::, 162.159.106.133\",\n      \"x-forwarded-host\": \"clubkalm.app.n8n.cloud\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"traefik-prod-users-gwc-1-8749c5b8f-d6mf2\",\n      \"x-hub-signature\": \"sha1=4cf273adbd60d141b086a07a7777f985b7631df3\",\n      \"x-hub-signature-256\": \"sha256=a128367c9ca980e380e2fed2225bacd3187addc942c4f159ffedba611209b054\",\n      \"x-is-trusted\": \"yes\",\n      \"x-real-ip\": \"2a03:2880:13ff:3::\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"object\": \"instagram\",\n      \"entry\": [\n        {\n          \"time\": 1768249870317,\n          \"id\": \"17841464586344140\",\n          \"messaging\": [\n            {\n              \"sender\": {\n                \"id\": \"1924166708230285\"\n              },\n              \"recipient\": {\n                \"id\": \"17841464586344140\"\n              },\n              \"timestamp\": 1768249868892,\n              \"message\": {\n                \"mid\": \"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY0NTg2MzQ0MTQwOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI2MDA5NDgyMTc2MzE3MzA1ODozMjYxODQ1Mjc4OTgzODAxNjA1OTY3NTMyOTg0MDU0NTc5MgZDZD\",\n                \"attachments\": [\n                  {\n                    \"type\": \"story_mention\",\n                    \"payload\": {\n                      \"url\": \"https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=17847975963664281&signature=AYeuwYSkqfRkcMsb9ekjuQvQjz1vGHqR-wL9Uagw2Q__OpKygeILmHSMVbIsyz2hTzKPtrc9aAljlxkkMpdWuhX_0PTDtoTORKt3aAMKz1D2ROdIpLnfB1z5DglcvnWqtRSNczICW-fKfe-KRVscj82pz9l8XBd-IC5zHHmjUBZOmKIg371MDATatVhTl8Sa9al0XYW0xI2yCch6ELitC8Sazr932Os\"\n                    }\n                  }\n                ]\n              }\n            }\n          ]\n        }\n      ]\n    },\n    \"webhookUrl\": \"https://clubkalm.app.n8n.cloud/webhook/events\",\n    \"executionMode\": \"production\"\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        432
      ],
      "id": "bd73b112-40f7-4056-bc2b-2aa043b2eae5",
      "name": "Test Event"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f09ba7db-a23b-4326-8510-8fd12d9fea45",
              "name": "username",
              "value": "={{ $json.Username }}",
              "type": "string"
            },
            {
              "id": "7922e2e9-1afc-462e-947c-1bf1fe4efb74",
              "name": "history",
              "value": "={{ $json.History ? $json.History + 1 : 0}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        464
      ],
      "id": "ddf04724-e094-4a8f-82a1-a3485d0ce739",
      "name": "Set params"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92c7a06f-d902-4966-9270-5e5966ede24b",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "=story_mention",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6e769193-a9f0-4eca-8c8c-20e8bc9e220d",
              "leftValue": "={{ $json.business_id }}",
              "rightValue": "=17841464586344140",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        384
      ],
      "id": "dc4a42e7-ffda-4f23-9b97-c9dfe35042ac",
      "name": "If history"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.message_id }}?fields=from,message",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAALtDCufaXkBQmx72pQyCOBZA4ZCMnZB4SGmZBut8lPlhT3Az9xyRxl0MbZAZC4fAIkeudMnlXbOzBNlG7uyMqfYuIQVvidXTZAqvmmqDuljGtWUynadlhkCA6w2qn9IKPTA6ABCNxI6X5J50YchZCZCSijq4StQj0D36zSziKO7hT7JZAe1oUgbgHe6kHt1WafAVQT6AoeFAc6TQyyesjkt8SvAZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        368
      ],
      "id": "1edae32c-51cb-4f7f-8993-cb0ed195f273",
      "name": "Get username"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "filterByFormula": "={Orden Shopify ID} = {{ $('Shopify Trigger').item.json.order_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        -352
      ],
      "id": "6ed52c10-512f-4344-8992-82dc3b98312a",
      "name": "Search records",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "filterByFormula": "=AND(NOT({Delivered Date} = ''), OR({Post} = 0, {Post} = ''))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1af16816-446f-44ea-9540-d7a31fd2a30a",
      "name": "Search influencer",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Search records').item.json.Email }}",
            "Delivered Date": "={{ $now.toISO()}}",
            "Reminder Date Mentions": "={{ $now.toISO()}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting Approval",
                  "value": "Waiting Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Declined",
                  "value": "Declined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Average Views",
              "displayName": "Average Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Address",
              "displayName": "Business Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Category",
              "displayName": "Business Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Emails Count",
              "displayName": "Follow-up Emails Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Count Address",
              "displayName": "Response Count Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orden Shopify ID",
              "displayName": "Orden Shopify ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order Placed Date",
              "displayName": "Order Placed Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered Date",
              "displayName": "Delivered Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "History",
              "displayName": "History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shopify Order",
              "displayName": "Shopify Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outreach Sent",
              "displayName": "Outreach Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Deliverability",
              "displayName": "Deliverability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Opt-ins",
              "displayName": "Opt-ins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Placed",
              "displayName": "Orders Placed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Delivered",
              "displayName": "Orders Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivery Success",
              "displayName": "Delivery Success",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Median Delivery Days",
              "displayName": "Median Delivery Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reminder Date Mentions",
              "displayName": "Reminder Date Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        -352
      ],
      "id": "57aa3b61-942b-4ce1-9924-8c42c91a3ea6",
      "name": "Update Delivered Date",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "filterByFormula": "={Username} = \"{{ $json.from.username }}\" ",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        464
      ],
      "id": "ecedd445-2b7d-420e-adc8-386fbacf5520",
      "name": "Search influencer1",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Username": "={{ $json.username }}",
            "History": "={{ $json.history }}",
            "History Date": "={{ $now.toISO()}}"
          },
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting Approval",
                  "value": "Waiting Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Declined",
                  "value": "Declined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Average Views",
              "displayName": "Average Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Address",
              "displayName": "Business Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Category",
              "displayName": "Business Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Emails Count",
              "displayName": "Follow-up Emails Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Count Address",
              "displayName": "Response Count Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orden Shopify ID",
              "displayName": "Orden Shopify ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order Placed Date",
              "displayName": "Order Placed Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered Date",
              "displayName": "Delivered Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "History",
              "displayName": "History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Shopify Order",
              "displayName": "Shopify Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reminder Date Mentions",
              "displayName": "Reminder Date Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outreach Sent",
              "displayName": "Outreach Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Deliverability",
              "displayName": "Deliverability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Opt-ins",
              "displayName": "Opt-ins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Placed",
              "displayName": "Orders Placed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Delivered",
              "displayName": "Orders Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivery Success",
              "displayName": "Delivery Success",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Median Delivery Days",
              "displayName": "Median Delivery Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post Rate",
              "displayName": "Post Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Follow Up Date",
              "displayName": "First Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "History Date",
              "displayName": "History Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1056,
        464
      ],
      "id": "182ddc00-a02a-40f0-a7af-fcae38c1b3dc",
      "name": "Update History",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Post": "={{ $json.tags_count }}",
            "Post Date": "={{ $now.toISO()}}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting Approval",
                  "value": "Waiting Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Declined",
                  "value": "Declined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Average Views",
              "displayName": "Average Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Address",
              "displayName": "Business Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Category",
              "displayName": "Business Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Emails Count",
              "displayName": "Follow-up Emails Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Count Address",
              "displayName": "Response Count Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orden Shopify ID",
              "displayName": "Orden Shopify ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order Placed Date",
              "displayName": "Order Placed Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered Date",
              "displayName": "Delivered Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "History",
              "displayName": "History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shopify Order",
              "displayName": "Shopify Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reminder Date Mentions",
              "displayName": "Reminder Date Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outreach Sent",
              "displayName": "Outreach Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Deliverability",
              "displayName": "Deliverability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Opt-ins",
              "displayName": "Opt-ins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Placed",
              "displayName": "Orders Placed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Delivered",
              "displayName": "Orders Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivery Success",
              "displayName": "Delivery Success",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Median Delivery Days",
              "displayName": "Median Delivery Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Post Rate",
              "displayName": "Post Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Follow Up Date",
              "displayName": "First Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "History Date",
              "displayName": "History Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        816,
        64
      ],
      "id": "1196eb40-1767-4768-a267-500443e18d5a",
      "name": "Update Posts",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "filterByFormula": "=AND(NOT({Reminder Date Mentions} = ''), OR({Post} = 0, {Post} = ''), OR({History} = 0, {History} = ''))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        48,
        752
      ],
      "id": "8c0c4487-b966-4a03-856a-df0274d0288d",
      "name": "Search influencer2",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        752
      ],
      "id": "ddf1b72c-304e-487c-8018-55c85c5ae043",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        656,
        768
      ],
      "id": "7856a663-3440-4aeb-9273-bcb1d3bb07cd"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1520,
        768
      ],
      "id": "1547b650-c2ad-4238-8020-aca9eeb06e29",
      "name": "Wait 1 minute",
      "webhookId": "fa1eb304-d5c6-4f7f-9f74-a644ba2523c6"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        -352
      ],
      "id": "450b614a-8466-48f4-80d5-3c5c7096caf3",
      "name": "Wait 1 Day",
      "webhookId": "0fd53557-4d3d-4af8-8e23-3f824f045a60"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblR6Il1syV9muGlZ",
          "mode": "list",
          "cachedResultName": "Instagram Influencers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblR6Il1syV9muGlZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Username": "={{ $('Replace Me').item.json.Username }}",
            "Reminder Date Mentions": "={{ $now.toISO()}}"
          },
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting Approval",
                  "value": "Waiting Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Declined",
                  "value": "Declined"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entry Date",
              "displayName": "Entry Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Average Views",
              "displayName": "Average Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Address",
              "displayName": "Business Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Business Category",
              "displayName": "Business Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sources",
              "displayName": "Sources",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Follow-up Emails Count",
              "displayName": "Follow-up Emails Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Response Count Address",
              "displayName": "Response Count Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Orden Shopify ID",
              "displayName": "Orden Shopify ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order Placed Date",
              "displayName": "Order Placed Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Delivered Date",
              "displayName": "Delivered Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "History",
              "displayName": "History",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Shopify Order",
              "displayName": "Shopify Order",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Outreach Sent",
              "displayName": "Outreach Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivered",
              "displayName": "Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Deliverability",
              "displayName": "Deliverability",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Opt-ins",
              "displayName": "Opt-ins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Placed",
              "displayName": "Orders Placed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Orders Delivered",
              "displayName": "Orders Delivered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Delivery Success",
              "displayName": "Delivery Success",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Median Delivery Days",
              "displayName": "Median Delivery Days",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Reminder Date Mentions",
              "displayName": "Reminder Date Mentions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        768
      ],
      "id": "a5ce7b60-dffa-40ca-aa33-aae0ea766d85",
      "name": "Update Delivered",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dc7xz3fjg/auto/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "instagram_uploads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        288
      ],
      "id": "a5a7aec5-9439-436c-8b1c-487f9ab69998",
      "name": "Upload to Cloudinary"
    },
    {
      "parameters": {
        "url": "={{ $('If history').item.json.media_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        288
      ],
      "id": "355f3939-266c-4caf-a111-3aa666c3586b",
      "name": "Binary Media"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblUloopZCJyZD2WW",
          "mode": "list",
          "cachedResultName": "Mentions",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblUloopZCJyZD2WW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "History",
            "Username": "={{ $('Get username').item.json.from.username }}",
            "ContentType": "={{ $json.resource_type }}",
            "URL": "={{ $json.url }}",
            "Date": "={{ $now.toISO()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ContentType",
              "displayName": "ContentType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1184,
        288
      ],
      "id": "5011e11f-1d46-42bb-b20b-ee6b9541d4a0",
      "name": "Create History Mentions",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tblUloopZCJyZD2WW",
          "mode": "list",
          "cachedResultName": "Mentions",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tblUloopZCJyZD2WW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Username": "={{ $json.username }}",
            "URL": "={{ $json.permalinks }}",
            "Source": "Post",
            "Date": "={{ $now.toISO()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ContentType",
              "displayName": "ContentType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        816,
        -80
      ],
      "id": "10497ffb-de33-4ac7-889a-2fc2a454d14e",
      "name": "Create Posts Mentions",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "25b451b6-c536-4f30-bcef-30f6cc87e3a9",
              "leftValue": "={{ $json.tags_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "d5589ffc-519b-49fa-ae75-db7bee7738bf",
      "name": "Tags ?"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1600,
        -336
      ],
      "id": "43bf8c56-3802-4516-9547-5a5d9203eb03",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "timestamp": "2026-01-07T00:00:19.009-05:00",
          "Readable date": "January 7th 2026, 12:00:19 am",
          "Readable time": "12:00:19 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "07",
          "Hour": "00",
          "Minute": "00",
          "Second": "19",
          "Timezone": "America/Toronto (UTC-05:00)"
        }
      }
    ],
    "Test Event": [
      {
        "json": {
          "headers": {
            "host": "clubkalm.app.n8n.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "753",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a03:2880:13ff:3::",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9bcf6a7aa04a70a3-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "facebook-api-version": "v24.0",
            "x-forwarded-for": "2a03:2880:13ff:3::, 162.159.106.133",
            "x-forwarded-host": "clubkalm.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-1-8749c5b8f-d6mf2",
            "x-hub-signature": "sha1=4cf273adbd60d141b086a07a7777f985b7631df3",
            "x-hub-signature-256": "sha256=a128367c9ca980e380e2fed2225bacd3187addc942c4f159ffedba611209b054",
            "x-is-trusted": "yes",
            "x-real-ip": "2a03:2880:13ff:3::"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1768249870317,
                "id": "17841464586344140",
                "messaging": [
                  {
                    "sender": {
                      "id": "1924166708230285"
                    },
                    "recipient": {
                      "id": "17841464586344140"
                    },
                    "timestamp": 1768249868892,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY0NTg2MzQ0MTQwOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI2MDA5NDgyMTc2MzE3MzA1ODozMjYxODQ1Mjc4OTgzODAxNjA1OTY3NTMyOTg0MDU0NTc5MgZDZD",
                      "attachments": [
                        {
                          "type": "story_mention",
                          "payload": {
                            "url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=17847975963664281&signature=AYeuwYSkqfRkcMsb9ekjuQvQjz1vGHqR-wL9Uagw2Q__OpKygeILmHSMVbIsyz2hTzKPtrc9aAljlxkkMpdWuhX_0PTDtoTORKt3aAMKz1D2ROdIpLnfB1z5DglcvnWqtRSNczICW-fKfe-KRVscj82pz9l8XBd-IC5zHHmjUBZOmKIg371MDATatVhTl8Sa9al0XYW0xI2yCch6ELitC8Sazr932Os"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://clubkalm.app.n8n.cloud/webhook/events",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Events": [
      {
        "json": {
          "headers": {
            "host": "clubkalm.app.n8n.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "753",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a03:2880:13ff:3::",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9c194d7253eaf7c2-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "instagram-api-version": "v24.0",
            "x-forwarded-for": "2a03:2880:13ff:3::, 162.159.104.131",
            "x-forwarded-host": "clubkalm.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-1-7b58f7489d-kxcgz",
            "x-hub-signature": "sha1=32cc0204fb61f58ec70b49e64f9b5d36fcb57d1f",
            "x-hub-signature-256": "sha256=05dbf1b139b6d5fa909407054d80c5d0b30903941430588938015a91d2e4f9ea",
            "x-is-trusted": "yes",
            "x-real-ip": "2a03:2880:13ff:3::"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1769024627384,
                "id": "17841464586344140",
                "messaging": [
                  {
                    "sender": {
                      "id": "724086873870944"
                    },
                    "recipient": {
                      "id": "17841464586344140"
                    },
                    "timestamp": 1769024626270,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY0NTg2MzQ0MTQwOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjExMDAyOTg1MjIzOTg1NTozMjYzMjc0NDU0MDkwMTE1NzUzMDIwMjc2MDI5ODg4OTIxNgZDZD",
                      "attachments": [
                        {
                          "type": "story_mention",
                          "payload": {
                            "url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=18044721128712200&signature=AYcX4ykMAuRdn9xL1HvRCmsoeQAOzAscWq2t0uDYWlrjfVee_oDqremLsIEPuJBIisTHZdHyttJZu8jOGw8MwR0aXaZQ3oXrCa7MMCnRMXn690m_w-X2wDwoGJKxu0ryi0xrEGWr89H_rZiNh8ksD76A0ge7-3ZbcrkZ4EyicSM6RULA6rlWaPDEAU7E8HqW3-oqb9c8FDVPLW1wsyhUGQvFP2UWmfxC"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://clubkalm.app.n8n.cloud/webhook/events",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Binary Media": [
      {
        "json": {
          "from": {
            "username": "law.bandit",
            "id": "724086873870944"
          },
          "message": "",
          "id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY0NTg2MzQ0MTQwOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjExMDAyOTg1MjIzOTg1NTozMjYzMjc0NDU0MDkwMTE1NzUzMDIwMjc2MDI5ODg4OTIxNgZDZD"
        },
        "binary": {
          "data": {
            "mimeType": "image/jpeg",
            "fileType": "image",
            "fileExtension": "jpg",
            "data": "filesystem-v2",
            "directory": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=18044721128712200&signature=AYcX4ykMAuRdn9xL1HvRCmsoeQAOzAscWq2t0uDYWlrjfVee_oDqremLsIEPuJBIisTHZdHyttJZu8jOGw8MwR0aXaZQ3oXrCa7MMCnRMXn690m_w-X2wDwoGJKxu0ryi0xrEGWr89H_rZiNh8ksD76A0ge7-3ZbcrkZ4EyicSM6RULA6rlWaPDEAU7E8HqW3-oqb9c8FDVPLW1wsyhUGQvFP2UWmfxC",
            "fileName": "620423134_17908960632308501_6381711281113286466_n.jpg",
            "id": "filesystem-v2:workflows/cTgOL46Fwj1o0iHu/executions/61086/binary_data/b28f8fdd-9c11-4a4e-b76a-252ffc974283",
            "fileSize": "111 kB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Upload to Cloudinary": [
      {
        "json": {
          "asset_id": "20d287177bff4535b27bad9705665fb7",
          "public_id": "dcksnapvgukmz7pix81g",
          "version": 1769107691,
          "version_id": "d41fa58ea926a18be06582610a7a2597",
          "signature": "663ae22d7d04a8b8d2a185bf2eac885b2a415471",
          "width": 1320,
          "height": 2346,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2026-01-22T18:48:11Z",
          "tags": [],
          "bytes": 111236,
          "type": "upload",
          "etag": "5d69bac60df442a99f31ccaaa8f78cdf",
          "placeholder": false,
          "url": "http://res.cloudinary.com/dc7xz3fjg/image/upload/v1769107691/dcksnapvgukmz7pix81g.jpg",
          "secure_url": "https://res.cloudinary.com/dc7xz3fjg/image/upload/v1769107691/dcksnapvgukmz7pix81g.jpg",
          "asset_folder": "",
          "display_name": "620423134_17908960632308501_6381711281113286466_n",
          "original_filename": "620423134_17908960632308501_6381711281113286466_n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Shopify Trigger": [
      {
        "json": {
          "id": 6129947083069,
          "order_id": 6955871207741,
          "status": "success",
          "created_at": "2026-01-26T20:08:13-05:00",
          "service": "shipbobfulfillment-390962",
          "updated_at": "2026-02-02T11:34:28-05:00",
          "tracking_company": "DHL eCommerce",
          "shipment_status": "delivered",
          "location_id": 108856213821,
          "origin_address": {
            "address1": "99 Kero Road",
            "city": "Carlstadt",
            "zip": "07072",
            "province_code": "NJ",
            "country_code": "US"
          },
          "email": "daniladavidson@gmail.com",
          "destination": {
            "first_name": "Danila",
            "address1": "2 Peter Cooper Rd, Apt 12AB",
            "phone": "",
            "city": "New York",
            "zip": "10010",
            "province": "New York",
            "country": "United States",
            "last_name": "Davidson",
            "address2": "",
            "company": "",
            "latitude": 40.7350868,
            "longitude": -73.9778647,
            "name": "Danila Davidson",
            "country_code": "US",
            "province_code": "NY"
          },
          "line_items": [
            {
              "id": 16971133976893,
              "variant_id": 49935214379325,
              "title": "30 Strips - Pink",
              "quantity": 1,
              "sku": "TAPE-PNK-1",
              "variant_title": "30 Strips - Pink",
              "vendor": "Kalm",
              "fulfillment_service": "shipbobfulfillment-390962",
              "product_id": 9739836227901,
              "requires_shipping": true,
              "taxable": true,
              "gift_card": false,
              "name": "30 Strips - Pink - 30 Strips - Pink",
              "variant_inventory_management": "shopify",
              "properties": [],
              "product_exists": true,
              "fulfillable_quantity": 0,
              "grams": 57,
              "price": "0.00",
              "total_discount": "0.00",
              "fulfillment_status": "fulfilled",
              "pre_tax_price": "0.00",
              "price_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                }
              },
              "pre_tax_price_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                }
              },
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "USD"
                }
              },
              "discount_allocations": [],
              "duties": [],
              "admin_graphql_api_id": "gid://shopify/LineItem/16971133976893",
              "tax_lines": []
            }
          ],
          "tracking_number": "420100109261290339707162226014",
          "tracking_numbers": [
            "420100109261290339707162226014"
          ],
          "tracking_url": "https://shopify.17track.net/app-api/tracking-page/proxy?data=ItgVDpal6nhca2rabihJZZ4oMPQH7UzVgpKqVA4env2CmFQ%2FeCbTwtKNpnNUutylhePCJzHwbGmZljMrwca%2F924mneVfOdrQNX2d2aTODVlRFliNOODWie%2B2iGDPrP8AZ8ovXkY%3D",
          "tracking_urls": [
            "https://shopify.17track.net/app-api/tracking-page/proxy?data=ItgVDpal6nhca2rabihJZZ4oMPQH7UzVgpKqVA4env2CmFQ%2FeCbTwtKNpnNUutylhePCJzHwbGmZljMrwca%2F924mneVfOdrQNX2d2aTODVlRFliNOODWie%2B2iGDPrP8AZ8ovXkY%3D"
          ],
          "receipt": {},
          "name": "#4005.1",
          "admin_graphql_api_id": "gid://shopify/Fulfillment/6129947083069"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-04T12:00:37.006-05:00",
          "Readable date": "February 4th 2026, 12:00:37 pm",
          "Readable time": "12:00:37 pm",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "04",
          "Hour": "12",
          "Minute": "00",
          "Second": "37",
          "Timezone": "America/Toronto (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Status Delivered ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROD?": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "PROD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Update Delivered Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Delivered ": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search influencer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email1": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 days ": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Verify Token": {
      "main": [
        [
          {
            "node": "Extract Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Challenge": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map by Event Type": {
      "main": [
        [
          {
            "node": "If history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All IG Tags": {
      "main": [
        [
          {
            "node": "Match & Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match & Count": {
      "main": [
        [
          {
            "node": "Tags ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Events": {
      "main": [
        [
          {
            "node": "Map by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200 OK": {
      "main": [
        []
      ]
    },
    "Test Event": {
      "main": [
        []
      ]
    },
    "Set params": {
      "main": [
        [
          {
            "node": "Update History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If history": {
      "main": [
        [
          {
            "node": "Get username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get username": {
      "main": [
        [
          {
            "node": "Search influencer1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Binary Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Wait 1 Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search influencer": {
      "main": [
        [
          {
            "node": "Get All IG Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search influencer1": {
      "main": [
        [
          {
            "node": "Set params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update History": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search influencer2": {
      "main": [
        [
          {
            "node": "2 days ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Create Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message1": {
      "main": [
        [
          {
            "node": "Update Delivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minute": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Day": {
      "main": [
        [
          {
            "node": "Create Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Delivered": {
      "main": [
        [
          {
            "node": "Wait 1 minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Create History Mentions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary Media": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tags ?": {
      "main": [
        [
          {
            "node": "Create Posts Mentions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4ab382c1-e110-4ac4-991b-05640f93d436",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdd9df9e2913e1bbd7987e1b7a0c821dc85cdfda09ac5cbd267e203568e9f950"
  },
  "id": "cTgOL46Fwj1o0iHu",
  "tags": []
}