docs/n8n-audit-2026-03-01/-AC-Costs-COGS-Tools---Seeding-Orders.json
{
  "name": "[AC] Costs COGS + Tools - Seeding Orders",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst config = $('Configuración3').first().json;\n\nconst targetVariantId = config.variant_id;\nconst targetTag = config.tag_filter;\n\nif (response.errors) {\n  throw new Error('Error GraphQL: ' + JSON.stringify(response.errors));\n}\n\nconst orders = response.data?.orders?.edges || [];\n\nlet orderList = [];\nlet totals = {\n  orders: 0,\n  quantity: 0,\n  cost_of_goods_sold: 0\n};\n\nfor (const orderEdge of orders) {\n  const order = orderEdge.node;\n  \n  // Verificar tag\n  const orderTags = order.tags || [];\n  const hasTag = orderTags.some(tag => tag.toLowerCase() === targetTag.toLowerCase());\n  if (!hasTag) continue;\n  \n  const lineItems = order.lineItems?.edges || [];\n  \n  for (const lineEdge of lineItems) {\n    const line = lineEdge.node;\n    \n    // Filtrar por variant_id\n    const variantGid = line.variant?.id || '';\n    const variantIdFromGid = variantGid.split('/').pop();\n    \n    if (variantIdFromGid !== targetVariantId) continue;\n    \n    const quantity = line.quantity || 0;\n    const unitCost = parseFloat(line.variant?.inventoryItem?.unitCost?.amount || 0);\n    const lineCOGS = quantity * unitCost;\n    \n    totals.orders += 1;\n    totals.quantity += quantity;\n    totals.cost_of_goods_sold += lineCOGS;\n    \n    // Detalle para validar\n    orderList.push({\n      order_number: order.name,\n      order_date: order.createdAt.split('T')[0],\n      customer: order.customer ? `${order.customer.firstName || ''} ${order.customer.lastName || ''}`.trim() : 'Sin cliente',\n      customer_email: order.customer?.email || 'N/A',\n      product: line.product?.title || line.title,\n      variant: line.variant?.title || 'Default',\n      sku: line.variant?.sku || 'N/A',\n      quantity: quantity,\n      unit_cost: unitCost.toFixed(2),\n      line_cogs: lineCOGS.toFixed(2),\n      order_link: `https://admin.shopify.com/store/${config.shopify_store}/orders/${order.id.split('/').pop()}`\n    });\n  }\n}\n\n// Ordenar por fecha\norderList.sort((a, b) => a.order_date.localeCompare(b.order_date));\n\nreturn [\n  {\n    json: {\n      resumen: {\n        total_pedidos_con_producto: totals.orders,\n        total_unidades: totals.quantity,\n        costo_por_unidad: totals.quantity > 0 ? (totals.cost_of_goods_sold / totals.quantity).toFixed(2) : '0.00',\n        total_cogs: totals.cost_of_goods_sold.toFixed(2)\n      },\n      instrucciones_validacion: {\n        paso_1: 'Ve a https://admin.shopify.com/store/kalmwellness/orders?tag=seeding',\n        paso_2: 'Filtra por los últimos 90 días',\n        paso_3: 'Cuenta cuántos pedidos tienen la variante 49935214379325 (30 Strips - Pink)',\n        paso_4: 'Compara con el total_pedidos_con_producto de arriba'\n      },\n      lista_pedidos: orderList\n    }\n  }\n];"
      },
      "id": "1ffa273a-c6a2-49e4-a1d5-c7d7bf3bd8a0",
      "name": "Calcular y Listar Pedidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "store",
              "name": "shopify_store",
              "value": "kalmwellness",
              "type": "string"
            },
            {
              "id": "days",
              "name": "days_back",
              "value": "90",
              "type": "string"
            },
            {
              "id": "variant_id",
              "name": "variant_id",
              "value": "49935214379325",
              "type": "string"
            },
            {
              "id": "tag_filter",
              "name": "tag_filter",
              "value": "seeding",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5bd2c1c6-9123-4ad0-9087-12423435875d",
      "name": "Configuración3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.shopify_store }}.myshopify.com/admin/api/2024-10/graphql.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetOrders($query: String!) { orders(first: 250, query: $query) { edges { node { id name createdAt tags customer { firstName lastName email } lineItems(first: 100) { edges { node { title quantity product { id title } variant { id title sku inventoryItem { unitCost { amount } } } } } } } } pageInfo { hasNextPage endCursor } } }\",\n  \"variables\": {\n    \"query\": \"created_at:>={{ $now.startOf('day').minus({ days: parseInt($('Configuración3').item.json.days_back) }).toFormat('yyyy-MM-dd') }} tag:{{ $('Configuración3').item.json.tag_filter }}\"\n  }\n}",
        "options": {}
      },
      "id": "b3f0eb3d-969e-40a5-bbc2-f6991ed7721f",
      "name": "Obtener Pedidos2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "j9zCcWPKhNJ57THh",
          "name": "Shopify Admin Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appSt3GpYPstPjpl2",
          "mode": "list",
          "cachedResultName": "[People]- Instagram Followers",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2"
        },
        "table": {
          "__rl": true,
          "value": "tbluyYSIPiTWVFvQg",
          "mode": "list",
          "cachedResultName": "Cost",
          "cachedResultUrl": "https://airtable.com/appSt3GpYPstPjpl2/tbluyYSIPiTWVFvQg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "COGS": "={{ $('Calcular y Listar Pedidos').item.json.resumen.total_cogs }}",
            "Name": "Costs",
            "Total Cost": "={{ $json.Price }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "COGS",
              "displayName": "COGS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Cost",
              "displayName": "Total Cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1248,
        -608
      ],
      "id": "cec86e16-a205-4a62-bb99-38e11fa00c59",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ircRYQSrjF8arreu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1yjoiKi91cfNAT-1FujXCPiI3GBKJhoNn3LmPMMbXNmk/edit?gid=239191933#gid=239191933",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 219858667,
          "mode": "list",
          "cachedResultName": "Cost Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yjoiKi91cfNAT-1FujXCPiI3GBKJhoNn3LmPMMbXNmk/edit#gid=219858667"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Tools",
              "lookupValue": "Total"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -608
      ],
      "id": "ed2b1b3a-0343-4745-9f4f-3a634d7bc369",
      "name": "Get Data1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z59l81lNaCfGAiH8",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        -608
      ],
      "id": "c45421d2-62a8-4c64-a6f2-474c41834189",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-04T11:02:28.210-05:00",
          "Readable date": "February 4th 2026, 11:02:28 am",
          "Readable time": "11:02:28 am",
          "Day of week": "Wednesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "04",
          "Hour": "11",
          "Minute": "02",
          "Second": "28",
          "Timezone": "America/Toronto (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Configuración3": {
      "main": [
        [
          {
            "node": "Obtener Pedidos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Pedidos2": {
      "main": [
        [
          {
            "node": "Calcular y Listar Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular y Listar Pedidos": {
      "main": [
        [
          {
            "node": "Get Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuración3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcf1272d-21d0-4c35-843f-82c98b10450a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cdd9df9e2913e1bbd7987e1b7a0c821dc85cdfda09ac5cbd267e203568e9f950"
  },
  "id": "zjgm4l9fldEaHxav",
  "tags": []
}